
*.prefs
*.xml
*.index
.metadata/.log
.metadata/.lock
*.default
*.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/0219/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/0219/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/3.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.tm.terminal.view.ui/.executables/data.properties
.metadata/init.gradle
.metadata/init.gradle_template/build.gradle
.metadata/init.gradle_template/src/main/java/jp/example/RestServlet.java
.metadata/version.ini
.metadata/.plugins/org.eclipse.core.resources/.projects/0219/.location
Servers/.project
Servers/Tomcat6_Java6-config/catalina.policy
Servers/Tomcat6_Java6-config/catalina.properties
Servers/Tomcat7_Java7-config/catalina.policy
Servers/Tomcat7_Java7-config/catalina.properties
Servers/Tomcat8_Java8-config/catalina.policy
Servers/Tomcat8_Java8-config/catalina.properties
Servers/Tomcat9_Java11-config/catalina.policy
Servers/Tomcat9_Java11-config/catalina.properties
Servers/Tomcat9_Java17-config/catalina.policy
Servers/Tomcat9_Java17-config/catalina.properties
wang/0219/.classpath
wang/0219/.project
hoka/createGames/.metadata/.log
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
hoka/createGames/.metadata/.plugins/org.eclipse.core.resources/2.snap
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.buildship.ui.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
hoka/createGames/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
hoka/createGames/.metadata/version.ini
