<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
<title>質問を入力してください</title>
<style>
        body{text-align: center;}
    </style>
</head>
<body>
<form action="output" method="post">
		<p>

			<label for="question">聞きたいことを入力してください</label>
			 <input type="text" name="inputQuestion" id="question">

		</p>
		<input type="submit" value="答えを見る">

	</form>
</body>
</html>