<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Color test</title>
</head>
<body>
<form action="colorOutput" method="post">
		<p>

			<label for="birth">あなたの生年月日を入力してください</label>
			 <input type="text" name="inputBirth" id="birth">

		</p>
		<p>
		    <label for="weather">今日の天気を選んでください</label>
		    <!-- プルダウンリスト作成		    -->
		    <select name="weather">
				<option value="sunny">晴れ</option>
				<option value="cloudy">曇り</option>
				<option value="rainy">雨</option>
				<option value="windy">風</option>
				<option value="snowy">雪</option>
			</select>

		</p>
		<input type="submit" value="答えを見る">

	</form>
</body>
</html>