<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>aaaaa</h1>
	<form th:action="@{/}" th:object="${user}" method="post">
		氏名: <input type="text" th:field="*{name}" /><br />
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
		年齢: <input  type="number" th:field="*{age}"/><br />
		<div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
		<button>送信</button>
	</form>
</body>
</html>