<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/demo.js}"></script>
</head>
<body>
	<h1>User</h1>
	<form th:action="@{/confirm}" th:object="${user}" method="post">
		氏名: <input type="text" id="username" th:field="*{name}" value="" /><br /> <span
			id="errname" style="color: red; display: none">氏名は必須入力です</span><br />
		年齢: <input type="number" id="userage" th:field="*{age}" value="" /><br />

		<div>
			<h1>じゃんけんゲーム</h1>

			<label>出す手を決めてください</label> 
			<select th:field="*{userHand}">
				<option value="1">グー</option>
				<option value="2">チョキ</option>
				<option value="3">パー</option>
			</select>
		</div>
		<br />
		<br />
		<button type="button" id="btn" onclick="buttonClick()">送信</button>
	</form>



</body>
</html>